.c_play-list {
  @include clearfix;

  display: inline-block;
  margin: 2rem auto;
  padding-left: 1rem;
  margin-bottom: 0;

  li {
    text-align: left;

    &:not(:last-of-type) { margin-bottom: 1rem; }
  }
}
    
.c_play-list-container {
  text-align: center;

  @media screen and (min-width: $media-md-min) { text-align: left; }
}

.c_play-list .playing,
.c_play-list .playing * {
  color: $color-yellow;
  font-weight: bold;
}

.c_player {
  height: 36px;
  text-align: center;

  @media screen and (min-width: $media-md-min) { text-align: left; }
}

.audiojs { display: inline-block; }

.c_song-list li:not(:last-of-type) { margin-bottom: 0.5rem; }
